!!! 5
%html
  %head
    %title RottenPotatoes!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body	 

    #login

      - if @current_user
        %p.welcome  Welcome, #{@current_user.name}!
        = link_to 'Log Out', '/logout' 
      - elsif not @user
        %p.login= link_to 'Log in with your Twitter account', '/auth/twitter'
        %p.login= link_to 'Log in', '/login'
        %p.login= link_to 'Sign up', '/signup'   

    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]		
      = yield
